nav {
    // display:flex;
    // border:1px solid red;
    background: $off-white;
    // box-shadow: 0 4px 2px -2px black;
    border-bottom: 1px solid black;

    .navbar {
        display:flex;
        list-style: none;
        justify-content: center;
        margin:0;
        padding: $s-size 0;

        li {
            padding-right:$l-size;
            text-transform: uppercase;
        
            &:last-child {
                padding-right:0;
            }
        };
    };
};