.divider {
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../../assets/home2.jpg');
    height:200px;
    background-size:cover;
    background-position:center;
};